.shell {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 60px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgba(0, 92, 157);  
  border-radius: 0 0 10px 0;
}

.icon-item {
  color: white;
  transition: transform 0.15s ease;
}

.nav:hover .icon-item {
  transform: scale(1.2);
}


.sidebar__top,
.sidebar__bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar__bottom {
  margin-top: auto;
}

.sidebar__bottom .nav:last-child {
 margin-bottom: 20px;
}

.sidebar__top .nav:first-child {
  margin-top: 20px   ;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: background-color 0.15s ease;
}

.nav:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.content {
  overflow: auto;
  padding: 16px;
  flex: 1;
  min-width: 0;
}
